body{
    background-color: orange;
}

h2{
    text-align: center;
}

img{
    width: 800px;

}

.center{
    display: block;
    margin-left: 650px;
    margin-right: auto;
    width: 50%;
}

p{
    text-align: center;
}

figcaption{
    text-align: center;
}

.UMUC{
    width: 800px;
}

.NOVA {
    width: 800px;
    height: 550px;
}

.GMU{
    width: 800px;
    height: 550px;
}

#UMUC-title{
    color: red;
}

#TCC-title{
    color:aqua
}

#NOVA-title{
    color:green;
}

#GMU-title{
    color: green;
}
.other{
    text-align: center;
}